<!DOCTYPE html>
<html lang="en">
<head>
<style>
    body{        
        padding-top: 80px;
        padding-bottom: 40px;
    }
    .container{
        width: 40%;
        margin-left: auto; 
		margin-right: 0;
    }
    .fixed-header, .fixed-footer{
        width: 100%;
        position: fixed;        
        padding: 40px 0;
	background: rgba((218, 223, 225));
    }
    .fixed-header{
        top: 0;
    }

    }
    .container p{
        line-height: 200px; /
    }
</style>
</head>
<body>
    <div class="fixed-header">
        <div class="container">
            <nav>
              <a href="#">Portfolio</a>
              |
                <a href="#">About</a>
              |
                <a href="#">Contact</a>
            </nav>
        </div>
    </div>       
</body>
</html>
