<!DOCTYPE html>
<html lang="en">
<head>
<style>
    body{        
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .container{
        width: 40%;
        margin-left: auto; 
		margin-right: 0;
    }
    .fixed-header, .fixed-footer{
        width: 100%;
        position: fixed;        
        padding: 20px 0;
	background: rgba(240, 255, 241);
    }
    .fixed-header{
        top: 0;
    }

    }
    .container p{
        line-height: 200px; /
    }
</style>
</head>
<body>
    <div class="fixed-header">
        <div class="container">
            <nav>
              <h3> <a href="/index.html">Portfolio</a>
              |
              <a href="/about.html">About</a>
              |
              <a href="/contact.html">Contact</a> </h3>
            </nav>
        </div>
    </div>       
</body>
</html>
