<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
body
  background-image linear-gradient(top, sky, 80% sky, sky*0.7)
  background-attachment fixed

///////////////////////////////////////////////////////////////
// from https://github.com/visionmedia/nib/blob/master/lib/nib/gradients.styl

linear-gradient(start, stops...)
  error('color stops required') unless length(stops)
  prop = current-property[0]
  val = current-property[1]
  stops = normalize-stops(stops)

  // webkit
  end = grad-point(opposite-position(start))
  webkit = s('-webkit-gradient(linear, %s, %s, %s)', grad-point(start), end, join-stops(stops, webkit-stop))
  add-property(prop, replace(val, '__CALL__', webkit))

  // moz
  stops = join-stops(stops, moz-stop)
  moz = s('-moz-linear-gradient(%s, %s)', start, stops)
  add-property(prop, replace(val, '__CALL__', moz))

  // literal
  s('linear-gradient(%s, %s)', start, stops)
    <div class="wrapper">
      <header>
        <h2 href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</h2>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

         <h4><p> {{ site.description | default: site.github.project_tagline }}</p><h4>

          {% include sidebar.html %}

        </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
